{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block nav_elements %}
    
{% endblock nav_elements %}

{% block content %}
<div class="container w-50 p-3">
   {% for room in rooms %}

        <div class="card shadow-lg border-0" style="border-radius: 15px;">
            <div class="card-body p-4">
                <h5 class="card-title fw-bold text-primary">{{ room.room_name }}</h5>
                <h6 class="card-subtitle mb-2 text-secondary">{{ room.tags }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Admin: <span class="fw-semibold">{{ room.created_by.username }}</span></h6>
                <p class="card-text text-dark">{{ room.description }}</p>
                <p class="card-text"><strong>Members:</strong> {{ room.members.count }}</p>
                <div class="d-flex justify-content-between">
                    {% if room.is_private == False %}
                        <a href="{% url 'feed' room.id %}" class="btn btn-primary btn-sm">Enter Room</a>
                    {% endif %}
                    {% if user != room.created_by %}
                        {% if user in room.members.all %}
                            <a href="{% url 'leave_room' room.id %}" class="btn btn-danger btn-sm">Leave</a>
                        {% else %}
                            <a href="{% url 'join_room' room.id %}" class="btn btn-success btn-sm">Join</a>
                        {% endif %}
                    {% endif %}

                </div>
                <div class="d-flex">
                    <button id="upvote-btn-{{ room.id }}" class="vote-btn" data-room-id="{{ room.id }}" data-action="upvote">👍</button>
                    <p class="p-2" id="votecount-{{ room.id }}">{{ room.votecount }}</p>
                    <button id="downvote-btn-{{ room.id }}" class="vote-btn" data-room-id="{{ room.id }}" data-action="downvote">👎</button>
                </div>
                
            </div>
        </div>
        <br>


   {% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    {% comment %} $(document).ready(function() {
        {% for room in rooms %}
            {% if user.id|stringformat:"s" in room.voters %}
                var initialState = {{ room.voters[user.id|stringformat:"s"]}};
            {% else %}
                var initialState = 0;
            {% endif %}
            updateVoteButtons({{ room.id }}, initialState);
        {% endfor %}
    }); {% endcomment %}
   

    $('.vote-btn').click(function() {
        var button = $(this);
        button.prop('disabled', true);
    
        var roomid = button.data('room-id');
        var action = button.data('action');
    
        $.ajax({
            url: "{% url 'vote' %}",
            type: "POST",
            data: {
                'room_id': roomid,
                'action': action,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function(response) {
                $('#votecount-' + roomid).text(response.upvotes);
                updateVoteButtons(roomid, response.state);
                button.prop('disabled', false);
            },
            error: function(response) {
                alert('Error voting.');
                button.prop('disabled', false);
            }
        });
    });
    
  </script>

{% endblock content %}

